@page "/api"
@inject NavigationManager Navigation

<PageTitle>API</PageTitle>

<h3 class="mb-4">API Explorer</h3>

<p class="mb-3">
    Browse and test the RTPTransmitter REST API endpoints using the interactive Swagger UI.
</p>

<iframe src="/swagger" style="width: 100%; height: calc(100vh - 10rem); border: none;" title="Swagger UI"></iframe>
